body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.wecare {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 20px;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
}

.rectangle h1, h2 {
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
}

h1, h2 {
    margin-left: 20px;
    font-size: 2em;
    font-family: 'Montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    color: #0b0c0d;
    text-align: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.worn-shoe img {
    max-width: 100%;
    height: auto;
}

.worn-shoe {
    flex: 1;
    max-width: 50%;
    padding: 45px;
}

.hiking-friends img {
    max-width: 100%;
    height: auto;
}

.hiking-friends {
    flex: 1;
    max-width: 40%;
    padding: 45px;
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-area: footer;
    height: fit-content;
    padding: 20px;
    background-color: #003b4a;
    color: #fff;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px;
    font-size: 1em;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}