body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main*/
main {
    display: flex;
    justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.purchase-confirmation, .cta {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    margin: 4vw;
}

#bought-products-summary {
    margin: 2vw, 0, 2vw, 0;
    background-color: #fff;
}

.product-image {
    width: 200px;
    height: auto;
    margin: 20px;
}

.product-details {
    display: flex;
    align-items: center;
}
  
.text-details {
    flex-grow: 1;
}

.total-cost {
    margin: 20px;
    font-size: 2vw;
}

.staricon {
    width: 20vw;
}

h1 {
    font-size: 2em;
    font-family: 'Montserrat';
    color: #0b0c0d;
}

.collection{
    padding-top: 1em;
    padding-right: 10em;
    padding-bottom: 1em;
    padding-left: 10em;
    transition-duration: 0.4s;
    background-color: #003b4a;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    color: #fff !important;
}

.collection:hover{
    background-color: #d99982;
    color: #fff;
}

/*Footer*/

footer {
    display: flex;
    padding: 20px;
    background-color: #003b4a;
    color: #fff;
    margin-top: 2em;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px;
    font-size: 1em;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}