body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section*/

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
    margin-top: 2em;
    margin-left: 9em;
    margin-bottom: 2em;
}

.rectangle h1 {
    display: inline;
    white-space: nowrap;
}

h1 .rectangle {
    vertical-align: middle;
}

h1 {
    margin-left: 20px;
    font-size: 2em;
    font-family: 'Montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    color: #0b0c0d;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin-bottom: 20px;
    background-color: #fff;
    margin: 0 auto;
    padding: 50px;
}

.container img {
    max-width: 30%;
    height: auto;
}

.container .text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

.text {
    font-family: 'Open sans', 'veranda', sans-serif;
    flex: 2;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Payment and shipping*/

h3 {
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1,5em;
    margin: 10px;
}

.checkout-section {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-areas: "checkout" "content";
    justify-items: center;
    gap: 10px;
    margin-top: 3em;
}

.checkout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.checkout-content p {
    margin: 0;
}

.checkout-content img {
    max-width: 200px;
    margin: 20px;
}

.large-label,
.small-label,
.medium-label,
.checkbox,
.checkbox-cc,
.checkbox-pp {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 15px;
    height: 15px;
    padding: 2px;
    border: 1px solid #000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}


input[type="checkbox"]:checked {
    background-color: #003b4a;
    border: 2px solid #003b4a;
}

button#apply-discount {
    height: 50%;
    width: 25%;
    border: none;
    border-radius: 15px;

}

button#apply-discount:hover {
    background-color: #d99982;
    color: #fff;
}

.form-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#checkout-button{
    background-color: #d99982;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    display: inline-block;
    padding: 20px 200px;
    text-align: center;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 30px;
}

#checkout-button:hover{
    background-color: #003b4a;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Footer */

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 1em;
    margin-top: 3em;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}