body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

#content-wrap {
    margin-bottom: 120px;
}

.grid-container {
    place-items: center;
    display: grid;
    height: 100vh;
    margin-bottom: 50px;
    font-family: 'open sans', 'montserrat', 'veranda', sans-serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-family: 'Montserrat';
    color: #0b0c0d;
}

.collection{
    padding-top: 1em;
    padding-right: 10em;
    padding-bottom: 1em;
    padding-left: 10em;
    transition-duration: 0.4s;
    background-color: #003b4a;
    border: none;
    border-radius: 15px;
    font-size: 1em;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    color: #fff !important;
}

.collection:hover{
    background-color: #d99982;
    color: #fff;
}

footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-area: footer;
    height: fit-content;
    padding: 20px;
    background-color: #003b4a;
    color: #fff;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px;
    font-size: 1em;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}
/* VALIDATE jigsaw.w3.org */