body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section */

h1 {
    text-align: center;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
    margin: 60px auto;
}

.rectangle h1{
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    margin: 20px;
}

#products-display {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    height: 100%;
}

#products-display img {
    max-width: 100%;
    height: auto;
    background-color: #d9d9d9;
    mix-blend-mode: multiply;
    object-fit: contain;
}

/*BUY_BUTTON*/
.product-buy-button {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-bottom: 30px;
}

.product-buy-button:hover {
    background-color: #d99982;
} 

/* Footer section */

footer {
    display: flex;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

@media  (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer  > div {
        flex-direction: column;
    }
    
}