body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section */

.subheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2vw;
    justify-content: space-between;
}


#shopping-cart {
    max-width: 500px;
    border: #d99982 solid 2px;
    border-radius: 15px;
    background-color: #fff;
    padding: 1vw;
}

#clear-cart,  #go-to-checkout {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-top: 10px;
    width:  170px;
}

#clear-cart:hover, #go-to-checkout:hover {
    background-color: #d99982;
} 

summary::marker {
    color: #d99982;
}

#genderFilterButtons {
    display: flex;
    flex-direction: column;
}

.genderFilterButton, #resetFilterButton {
    background-color: #003b4a;
    color: #fff; 
    border: none;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 5px;
}

.genderFilterButton:hover, #resetFilterButton:hover {
    background-color: #d99982;
    color: #fff; 
    border-radius: 15px;
}

h1 {
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
}

.rectangle {
    display: flex;
    width: 10px;
    height: 80px;
    background-color: #d99982;
    border: none;
}

.rectangle h1{
    display: inline;
    white-space: nowrap;
    align-items: baseline;
    margin: 20px;
}

#products-display {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    height: 100%;
}

.product-wrapper {
    width: 100%;
    height: 100%;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-width: 200px;
}

/*BUTTONs*/
.add-to-cart-button, .view-product-button {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-top: 10px;
    width: 80%;
}

.add-to-cart-button:hover, 
.view-product-button:hover {
    background-color: #d99982;
} 

/* Footer section */

footer {
    display: flex;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    margin-top: 10vw;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

@media  (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer  > div {
        flex-direction: column;
    }
    
}