body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section*/

.grid-container {
    font-family: 'open sans', 'montserrat', 'veranda', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    font-size: 2rem; 
    font-family: 'Montserrat'; 
    color: #0b0c0d; 
    padding: 10px;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
}

.rectangle h1 {
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    margin: 20px;
}

.service-woman {
    max-width: 400px;
    margin-right: 0%;
}

.content-contact {
    font-size: 16px; 
    font-family: "open sans", Verdana, Geneva, Tahoma, sans-serif; 
    color: #0b0c0d;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    gap: 20px;
    margin: 60px;
}

.content-contact ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.chat {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
}

.chat:hover {
    background-color: #d99982;
}

/* Footer section */

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}