body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section*/
.basket-icon  {
    width: 45px;
    float: right;
    position: relative;
    top: -67px;
    right: 10px;
}

.product-image {
    max-width: 100%;
    height: auto;
    background-color: #d9d9d9;
    mix-blend-mode: multiply;
    max-width: 500px;
}

#product-details {
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-family: 'open sans', 'veranda', sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
}

h1 {
    font-size: 2em; 
    font-family: 'Montserrat'; 
    color: #0b0c0d; 
    padding: 10px;
}


.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
}

.rectangle h1, h2 {
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    margin: 20px;
}

#size {
    display: inline-block;
    margin: 0;
    padding: 8px 16px;
    color: #003b4a;
    border-radius: 1px;
}

#size-options label:hover {
    background-color: #d99982;
    color: #fff;
}


#add-to-cart{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
}

#add-to-cart:hover{
    background-color: #d99982;
    color: #fff;

}


/* Footer section*/

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

/* Mediaforespørsler responsiv design */
/* Mobil */
@media (max-width: 600px) {
    .nav-menu {
        margin-right: 10px;
        font-size: 1em;
    }

    .button-nav {
        display: inline;
    }
}

/* pad */
@media (min-width: 601px) and (max-width: 1024px) {
    .header-logo {
        font-size: 22px;
    }

    .nav-menu {
        font-size: 20px; 
    }
}

/* desktop */
@media (min-width: 1025px) {
    
    .header {
        flex-direction: row;
    }

    .header-logo {
        font-size: 24px; 
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu {
        font-size: 18px; 
        margin-right: 20px; 
    }
}


.col-sm-12 {
    grid-column: auto / span 12; 
}

@media (min-width: 768px) {
    .col-md-6 {
        grid-column: auto / span 6; 
    }
}