body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

.header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    width: 100%;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    width: auto;
    height: 100px;
    font-weight: bold; 
    margin: 0 auto;
    left: 40%;
    top: 30px;
}

.nav-menu li{
    margin-right: 30px;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 400px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 40px;
}

/* Main section */

.image-container {
    position: relative;
}

.image-container {
    display: flex;
    padding: 2rem;
}

.raincoatman {
    max-width: 100%;
}

.move-h1 {
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 2rem;
}

.move-p {
    position: absolute;
    top: 180px;
    left: 100px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1rem;
}

.raincoatwmn {
    max-width: 50%;
    margin-left: 2rem;
    margin-right: 0;
}

.about-us {
    display: flex;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

h2, h3 {
    text-align: center;
    padding: 20px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
}

p {
    font-size: 1rem;
    font-family: 'open sans', 'veranda', sans-serif;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
    margin: 2rem;
}

.rectangle h1{
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    margin: 20px;
}

.bestsellers {
    text-align: center;
    background-color: #fff;
    position: relative;
}

.bestsellers-title {
    margin-top: 0;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product img {
    max-width: 100%;
    max-height: 400px;
    text-align: center;
}

.add-to-cart {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-bottom: 30px;
}

.add-to-cart:hover, .shop:hover {
    background-color: #d99982;
}

.collection{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    display: block;
    text-align: center;
    margin: 50px;
}

.collection:hover{
    background-color: #d99982;
    color: #fff;
}

.full-collection {
    display: block;
    margin: 20px auto;
    text-align: center; 
}

.newsletter {
    display: block;
    text-align: center;
    margin-bottom: 60px;
}

input[type="email"] {
    width: 500px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
}

.signup, .full-collection{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    display: inline-block;
    padding: 20px 200px;
    text-align: center;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signup:hover, .full-collection:hover {
    background-color: #d99982;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Footer section */

footer {
    display: flex;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .products, .about-us, footer {
        flex-direction: column;
    }
}