body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        'header nav'
        'nav content'
        'content footer';
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    justify-items: center;
    max-width: 100%;
}

.header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    width: auto;
    height: 100px;
    font-weight: bold; 
    margin: 0 auto;
    left: 40%;
    top: 30px;
}

.nav-menu li{
    margin-right: 30px;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 400px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 40px;
}


.button-nav {
    background-color: #d99982;
    color: #fff; 
    font-size: 16px; 
    border-radius: 15px; 
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
}

.button-nav:hover {
    background-color: #fff;
    color: #003b4a;
}

/* Main section */

.new-arrivals {
    position: relative;
}

.image-container {
    position: relative;
}

.raincoatman {
    max-width: 100%;
    height: auto;
    margin: 100px;
}

.move-h1 {
    position: absolute;
    top: 200px;
    left: 200px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 2em;
}

.move-p {
    position: absolute;
    top: 270px;
    left: 215px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
}

.raincoatwmn {
    max-width: 50%;
    height: auto;
    margin-left: 60px;
    margin-right: 0;
}

.about-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

h2, h3 {
    text-align: center;
    padding: 20px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
}

p {
    font-size: 1em;
    font-family: 'open sans', 'veranda', sans-serif;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
    margin: 60px auto;
}

.rectangle h1{
    display: inline;
    white-space: nowrap;
    vertical-align: middle;
    margin: 20px;
}

.bestsellers {
    text-align: center;
    background-color: #fff;
    position: relative;
}

.bestsellers-title {
    margin-top: 0;
}

.products {
    display: flex;
    justify-content: space-around;
}

.product img {
    max-width: auto;
    max-height: 400px;
    text-align: center;
}

.add-to-cart, .shop {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
}

.add-to-cart:hover, .shop:hover {
    background-color: #d99982;
}

.collection{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    display: block;
    text-align: center;
    margin: 50px;
}

.collection:hover{
    background-color: #d99982;
    color: #fff;
}

.full-collection {
    display: block;
    margin: 20px auto;
    text-align: center; 
}

.newsletter {
    text-align: center;
    margin-bottom: 60px;
}

input[type="email"] {
    width: 500px;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
}

.signup, .full-collection{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    display: inline-block;
    padding: 20px 200px;
    text-align: center;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signup:hover, .full-collection:hover {
    background-color: #d99982;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Footer section */

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
    list-style: none;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

/* Mediaforespørsler responsiv design */
/* Mobil */
@media (max-width: 600px) {
    .nav-menu {
        display: flex;
    }
    
    .nav {
        justify-content: space-between;
    }
    
    .rectangle{
        margin: 10px;
    }

    h1 {
        margin: 10px;
    }

    .collection {
        padding: 10px;
        margin: 20px;
    }
    
    .signup, .full-collection {
        padding: 10px 50px; 
    }

    .move-h1 {
        top: 40px;
        left: 50px;
        font-size: 1.5em;
    }

    .move-p {
        top: 90px;
        left: 55px;
        font-size: 0.8em;
    }

    .raincoatman {
        margin: 20px; 
    }

    .about-us {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .raincoatwmn {
        margin-left: 20px;
    }

    .products {
        flex-direction: column;
        text-align: center;
    }

    .product img {
        max-width: 100%;
    }

    .add-to-cart, .shop {
        padding: 5px 20px;
    }

    .newsletter {
        margin-bottom: 20px;
    }

    input[type="email"] {
        width: 100%;
    }
}

/* pad */
@media (min-width: 601px) and (max-width: 1024px) {
    .header-logo {
        font-size: 22px;
    }

    .nav-menu {
        font-size: 20px; 
    }
}

/* desktop */
@media (min-width: 1025px) {
    
    .header {
        flex-direction: row;
    }

    .header-logo {
        font-size: 24px; 
    }

    .nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-menu {
        font-size: 18px; 
        margin-right: 20px; 
    }
}


.col-sm-12 {
    grid-column: auto / span 12; 
}

@media (min-width: 700px) {
    .col-md-6 {
        grid-column: auto / span 6; 
    }
}