body {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0,59,74,1));
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    color: #fff;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding: 20px;
}

.nav-menu li{
    margin-right: 3vw;
}

ul{
    list-style: none;
}

a:link, 
a:visited, 
a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #d99982;
}

.img-logo {
    max-width: 300px; 
    height: auto; 
    background-blend-mode: normal;
    padding: 20px;
}

/* Main section */
.raincoatman {
    max-width: 100%;
}

.about {
    display: flex;
    flex-direction: column;
    margin: 2vw;
}

h1, h2{
    text-align: center;
    padding: 20px;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-size: 1.5em;
    white-space: nowrap;
}


p {
    font-size: 1rem;
    font-family: 'open sans', 'veranda', sans-serif;
}

.rectangle {
    display: flex;
    align-items: center;
    width: 10px;
    height: 65px;
    background-color: #d99982;
    border: none;
    margin: 2vw;
}

.bestsellers {
    text-align: center;
    background-color: #fff;
    position: relative;
}

.bestsellers-title {
    margin-top: 0;
}

/* Bestsellers */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .product-wrapper {
    flex: 0 0 33.33%; /* Display three products per slide */
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  #prev-btn {
    left: 10px;
  }
  
  #next-btn {
    right: 10px;
  }

  .product-container img {
    width: 200px; 
    height: auto;
  }
  

/*BUY_BUTTON*/
.product-buy-button {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-bottom: 30px;
}

.product-buy-button:hover {
    background-color: #d99982;
} 

.collection{
    background-color: #003b4a;
    color: #fff !important;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2vw;
    font-family: 'montserrat', 'open sans', 'veranda', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    display: block;
    text-align: center;
    align-self: center;
}

.collection:hover{
    background-color: #d99982;
    color: #fff;
}

.newsletter {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10vw;
    margin-top: 10vw;
}

input[type="email"] {
    width: 50vw;
    max-width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 15px;
    border: none;
}

.signup {
    background-color: #003b4a;
    color: #fff !important;
    width: 50vw;
    max-width: 100%;
    align-self: center;
    font-size: 1em; 
    border-radius: 15px; 
    border: none;
    display: inline-block;
    padding: 20px 200px;
    text-align: center;
    font-family: 'montserrat', 'open sans', 'verdana', sans-serif;
    font-weight: bold;
    transition-duration: 0.4s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.signup:hover {
    background-color: #d99982;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

#products-display {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    height: 100%;
}

.product-wrapper {
    width: 100%;
    height: 100%;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}

.product-image {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-width: 200px;
}

/*BUTTONs*/
.add-to-cart-button, .view-product-button {
    background-color: #003b4a;
    color: #fff; 
    padding: 5px 40px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'open sans', 'veranda', sans serif;
    margin-bottom: 30px;
    width: 80%;
}

.add-to-cart-button:hover, 
.view-product-button:hover {
    background-color: #d99982;
} 

/* Footer section */

footer {
    display: flex;
    align-items: center;
    background-color: #003b4a; 
    color: #fff;  
    padding: 20px;
    height: fit-content;
}

.foot-logo {
    width: 185px;
    height: auto;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;
    gap: 20px;
    font-family: 'open sans', 'monteserrat', 'veranda', sans-serif;
    font-size: 1em;
}

.social {
    display: flex;
    gap: 20px;
}

.legal-info {
    display: flex;
    gap: 20px;
}

.copyright, 
.privacy, 
.terms {
    font-size: 1em;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
    }
}